<div class="modal">
  <h1 mat-dialog-title>Editar grupo</h1>
  <form [formGroup]="formGroup">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input autofocus required formControlName='description' matInput placeholder="Nome do grupo" />
        <mat-error>Insira a descrição do grupo</mat-error>
      </mat-form-field>
      <app-table [size]="'small'" [title]="'Subgrupos'" [contentName]="'subgrupo'" (onDelete)="deleteSubgroup($event)" (onCreate)="openCreateSubGrupoModal()" [data]="subgroups"
        [columns]="tableColumns"></app-table>
    </mat-dialog-content>
  </form>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-flat-button (click)="cancel()"> Cancelar </button>
    <button mat-flat-button [disabled]="formGroup.invalid" color="primary" (click)="create()"> Salvar </button>
  </div>

</div>
