<app-header></app-header>

<mat-sidenav-container class="nav-container">

    <mat-sidenav mode="side" class="nav-content" [(opened)]="sidebarOpened">
          <mat-action-list>
            <button mat-list-item class="sidenav-item" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'active'" *ngFor="let item of menu" [routerLink]="item.path">
                <mat-icon matListIcon>{{item.icon}}</mat-icon>                 
                {{item.caption}}
            </button>
          </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
