@import '../../../variables.scss';

mat-sidenav-content{
    padding: 2rem;
}

@mixin activeSidebarItem(){
    background-color: $primary-color;    
    transition: 0.3s ease-in;
}

.sidenav-item{
    width: fit-content;
    text-decoration: none;
    border-radius: 0.2rem;
    margin-top: 0.3rem;
    color: $light-font-color;
    // color: rgba(255, 255, 255, 0.8);
    &:hover, &:focus, &:checked, &:active {
        @include activeSidebarItem()
    }
}
.nav-container {    
    position: absolute;
    top: 4.0rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: inherit;
}
.mat-list-text{
    display: hidden;
}
.nav-content{
    width: 13rem;
    padding: 0.6rem;
    background-color: $dark-backgroud;
}

.active{
    @include activeSidebarItem()
}