
mat-card {
    width: 25rem;
    border-radius: 2%;
    margin: auto;
    padding: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &-actions {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
}

.header {
    display: flex;
    align-self: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 3rem;
}

.form {
    flex-direction: column;
    display: flex;
    gap: 0.4rem;
}