<mat-card class="mat-elevation-z0 outline">
    <mat-card-header class="{{size}}">
        <mat-card-title>
            <h1>{{title}}</h1>
        </mat-card-title>
        <m-button [icon]="'add'" [style]="'light'" *ngIf="onCreate.observers.length!=0" (click)="onCreate.emit()">
            criar 
        </m-button>
    </mat-card-header>
    <mat-card-content>
        <div class="header" *ngIf="onFilter.observers.length!=0">
            <mat-form-field class="example-form-field table-header"
                style="margin-bottom: -1.25em" appearance="outline">
                <input matInput type="text" placeholder="Filtrar" [(ngModel)]="filter"
                    (ngModelChange)="onFilter.emit(filter)" />
            </mat-form-field>
        </div>
        <mat-table [dataSource]="data">
            <ng-container *ngFor="let column of columns" matColumnDef="{{column.propertyName}}">
                <mat-header-cell *matHeaderCellDef>{{column.columnName}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element[column.propertyName]}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="_options">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="onEdit.emit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="_delete_row">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDeleteModal(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
            <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>