<div class="modal">
  <h1 mat-dialog-title>Coleção</h1>
  <form [formGroup]="formGroup">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input autofocus required formControlName="description" matInput placeholder="Nome da coleção" />
        <mat-error>Insira a descrição da coleção</mat-error>
      </mat-form-field>
    </mat-dialog-content>
  </form>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-flat-button (click)="cancel()"> Cancelar </button>
    <button mat-flat-button [disabled]="formGroup.invalid" color="primary" (click)="create()"> Salvar </button>
  </div>

</div>
