
.logo {
    width:  100%;
    height: auto
    &-button{
        margin-top: 0.6rem;
    }
  }

mat-card{
    width:   20rem;
    border-radius: 2%;
    margin: auto;
}

.login-container{
    background-color: white;
}

.form {
    flex-direction: column;
    display:     flex;
    padding:     15px;
    gap:         0.4rem;

    &-header{
        padding-bottom: 2rem;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &-actions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
}