<app-center>
    <mat-card class="mat-elevation-z1">
        <div class="header">
            <logo></logo>
        </div>
        <mat-card-content>
            <form [formGroup]="form" class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email" required>
                    <mat-error *ngIf="form.controls['email'].invalid">Email inválido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Digite sua senha</mat-label>
                    <input matInput type="password" formControlName="password" required>
                    <mat-error *ngIf="form.controls['password'].invalid">Senha inválida</mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        
        <mat-card-actions>
            <m-button mat-raised-button color="primary" (click)="login()">Login</m-button>        
        </mat-card-actions>
        <mat-card-footer>
            <p>Não tem uma conta ainda? <a routerLink="/signup">Cadastre-se</a> </p>
        </mat-card-footer>
    </mat-card>
</app-center>