/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; background-color: #e3e8ec;
}

body {
    margin: 0;
    font-family: "Lato", Roboto, "Helvetica Neue", sans-serif;
}

*{     
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
