/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url(./assets/fonts/inter/Inter-Regular.ttf) format("truetype"),
    url(./assets/fonts/inter/Inter-Bold.ttf) format("truetype"),
    url(./assets/fonts/inter/Inter-Medium.ttf) format("truetype"),
    url(./assets/fonts/inter/Inter-Medium.ttf) format("truetype");
}

html, body { 
    height: 100%; background-color: #e3e8ec;
}

body {
    margin: 0;
    font-family: "Inter", "Lato", Roboto, "Helvetica Neue", sans-serif;
}

*{     
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

a:link, a:visited, a:hover, a:active{
    color: #1d73be;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
    text-decoration: none;
    margin-left: 0.2rem;
}