<div class="modal">
  <h1 mat-dialog-title> Criar produto </h1>
  <form [formGroup]="formGroup">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <input autofocus required formControlName="description" matInput placeholder="Nome do produto" />
        <mat-error>Insira a descrição do produto</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Preço</mat-label>
        <input autofocus required formControlName="price" matInput type="number" placeholder="Preço do produto" />
        <mat-error>Insira o preço do produto</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Grupo</mat-label>
        <mat-select (selectionChange)="loadSubgroups()" formControlName="group" required>
          <mat-option *ngFor="let group of groups$ | async" [value]="group.description">
            {{group.description}}
          </mat-option>
        </mat-select>
        <mat-error>selecione um grupo</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Subgrupo</mat-label>
        <mat-select required [disabled]="!group?.value" formControlName="subgroup">
          <mat-option *ngFor="let subgroup of subgroups" [value]="subgroup.description">
            {{subgroup.description}}
          </mat-option>
        </mat-select>
        <mat-error>selecione um subgrupo</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Coleção</mat-label>
        <mat-select required formControlName="collection">
          <mat-option *ngFor="let collection of collections$ | async" [value]="collection.description">
            {{collection.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-dialog-content>
  </form>
  <div mat-dialog-actions class="mat-dialog-actions">
    <button mat-flat-button (click)="cancel()"> Cancelar </button>
    <button mat-flat-button color="primary" [disabled]="formGroup.invalid" (click)="create()"> Criar </button>
  </div>

</div>
